<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Weather
        link(rel="stylesheet", href="./css/main.css")
    body
        main
            .search
                input(type="text", name="search_location", placeholder="Enter city")
                input#search(type="button", value="Search")
                ul.suggestions#res_search
                    //- li Filter for a city
                    //- li or a state
    
            .data_chouse
                input#today(type="button", value="Today")
                input#tomorrow(type="button", value="Tomorrow")
                input(type="date", name="date")
            #chosen_date
                p.hiden Date
            .info_box.hiden#weahert_info
                .info
                    .info_img
                        img(src="http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png", alt="weather")
                    .info_short
                        h1 
                        h3
                .info_weather
                    p Feels:  
                        span#feels
                    p Wind: 
                        span#wind
                    p Humidity: 
                        span#humidity
                    p Pressure: 
                        span#pressure
    script(src="./js/main.js")