html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after {
    content: '';
    content: none;
}

q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

main {
    max-width: 500px;
    margin: 10px auto 0;
    background-color: #c4c4c4;
    border-radius: 10px;
}

.info {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.info_short {
    width: 50%;
    text-align: center;
}

.info_short h1 {
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
}

.info_short h3 {
    font-size: 1rem;
    font-weight: bold;
}

.info_img {
    width: 50%;
    height: auto;
    display: inline-block;
    text-align: center;
}

.info_img img {
    width: 100px;
    height: 100px;
}

.info_weather p {
    font-size: 1.5rem;
    padding: 10px 0;
}

.info_weather span {
    font-style: italic;
}

input {
    height: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}

.search {
    margin-bottom: 20px;
}

.search input {
    width: 29%;
}

.search input[type="text"] {
    width: 70%;
}

.data_chouse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.data_chouse input {
    margin-left: 20px;
}

.data_chouse input[type="button"] {
    width: 100px;
}

.active {
    background-color: blue;
    border: blue;
}

.suggestions {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 300px;
}

.suggestions li {
    z-index: 2;
    background: white;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 0;
    padding: 20px;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-transform: capitalize;
}

.suggestions li:nth-child(even) {
    -webkit-transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#EFEFEF));
    background: linear-gradient(to bottom, #ffffff 0%, #EFEFEF 100%);
}

.suggestions li:nth-child(odd) {
    -webkit-transform: perspective(100px) rotateX(-3deg) translateY(3px);
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#EFEFEF));
    background: linear-gradient(to top, #ffffff 0%, #EFEFEF 100%);
}

.hiden {
    opacity: 0;
}
